<!DOCTYPE html>
<html lang="en">
<head>
   <title>{% block title %}Matrix Reasoning Challenge{% endblock %}</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}base.css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	{% block htmlhead %}{% endblock %}
</head>
<body>



<div id="wrapper">
	<div id="header">
		<h2><a href="/"><img height=75px src="/static/images/intranet.png"></a>  {% block header %}Matrix Reasoning Challenge{% endblock %}</h2>
	</div>
	<div id="user-tools">
		Hello <a href = "/accounts/{{user.id}}">{{ user.first_name }}</a> /
		{% if user.is_authenticated %}
			<a href="/accounts/logout">Log out</a>
		{% else %}
			<a href="/accounts/login">Log in</a>
		{% endif %}
	</div>

	<div id="sidebar">
		{% block sidebar %}
			<a class="button" href="/">Home</a><br><br>
			<a class="button" href="/viewSubmissions">Check Items</a><br><br>
			<a class="button" href="/checkStatus">Status</a><br><br>
		{% endblock %}
	</div>

	<div id="content">
		{% block content %}{% endblock %}
	</div>
</div>

<div id="footer">
	<br>
	<h5>Matrix Reasoning Contest - Contact: dengel@mit.edu - {% now "F jS Y H:i" %}</h5>
</div>

</body>
</html>
