{% extends "base.html" %}
{% block content %}
<h3>All Submissions (Checked / Accepted ):</h3><br>
<table border="1">
	<tr>
	<th>Submission ID</th>
	<th>Status</th>
	<th>Checked by {{ checkerNames.0 }} ({{ checkerCounts.0 }})</th>
	<th>Checked by {{ checkerNames.1 }} ({{ checkerCounts.1 }})</th>
	<th>Checked by {{ checkerNames.2 }} ({{ checkerCounts.2 }})</th>
	<th>Checked by {{ checkerNames.3 }} ({{ checkerCounts.3 }})</th>
	</tr>
	{% for curSubmission in allMatrixItems %}	
	<tr>
		<td><a href="/integrityCheck/{{ curSubmission.fileID }}">{{ curSubmission.fileID }}</a></td> 
		<td
		{% if curSubmission.status == 'Accepted' %}
		bgcolor="#00DD00"
		{% endif %}
		{% if curSubmission.status == 'Rejected' %}
		bgcolor="#DD0000"
		{% endif %}
		{% if curSubmission.status == 'Pending' %}
		bgcolor="#FFDD00"
		{% endif %}
		
		>{{ curSubmission.status }}</td> 
		<td>
		{% if curSubmission.checked.0 %}
			<center><img src="{{ STATIC_URL }}images/done_icon.png" height="20">
		{% else %}
			<center><img src="{{ STATIC_URL }}images/redx_icon.png" height="20">
		{% endif %}
		</td> 
		<td>
		{% if curSubmission.checked.1 %}
			<center><img src="{{ STATIC_URL }}images/done_icon.png" height="20">
		{% else %}
			<center><img src="{{ STATIC_URL }}images/redx_icon.png" height="20">
		{% endif %}
		</td> 
		<td>
		{% if curSubmission.checked.2 %}
			<center><img src="{{ STATIC_URL }}images/done_icon.png" height="20">
		{% else %}
			<center><img src="{{ STATIC_URL }}images/redx_icon.png" height="20">
		{% endif %}
		</td> 
		<td>
		{% if curSubmission.checked.3 %}
			<center><img src="{{ STATIC_URL }}images/done_icon.png" height="20">
		{% else %}
			<center><img src="{{ STATIC_URL }}images/redx_icon.png" height="20">
		{% endif %}
		</td> 
	</tr>
	{% endfor %}
</table>
{% endblock %}
